/face_detection/data
/face_detection/models
/.idea
/data
*.pt
/face_detection/wandb
/face_detection/yolo_subset
/face_detection/yolo_versions
/face_detection/yolo_v12_small_subset
/face_detection/yolo_v12s
/data0
/face_detection/data0
